In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('./welding_data.csv')

In [3]:
print(data.shape)
data.head(10)

(739888, 7)

         PIPE_NO  DV_R  DA_R  AV_R   AA_R  PM_R  FIN_JGMT
0  PP22033000042   318  7798   365   7177  9507         1
1  PP22033000042   318  7798   365   7177  9507         1
2  PP22033000042   316  8479   380   8846  9484         1
3  PP22033000042   316  8479   380   8846  9484         1
4  PP22033000042   309  7603   351   5726  9840         1
5  PP22033000042   309  7603   351   5726  9840         1
6  PP22033000042   309  7668   346   6011  9656         1
7  PP22033000042   309  7668   346   6011  9656         1
8  PP22033000042   313  9254   399  10425  9318         1
9  PP22033000042   313  9254   399  10425  9318         1

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739888 entries, 0 to 739887
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   PIPE_NO   739888 non-null  object
 1   DV_R      739888 non-null  int64
 2   DA_R      739888 non-null  int64
 3   AV_R      739888 non-null  int64
 4   AA_R      739888 non-null  int64
 5   PM_R      739888 non-null  int64
 6   FIN_JGMT  739888 non-null  int64
dtypes: int64(6), object(1)
memory usage: 39.5+ MB

In [5]:
for var in data.columns:
    print(var, data[var].nunique())

PIPE_NO 303
DV_R 1113
DA_R 4962
AV_R 1492
AA_R 4166
PM_R 5406
FIN_JGMT 2

In [6]:
for var in data.columns:
    print(var, data[var].min(), data[var].max())

PIPE_NO PP21090300010 PP22033000042
DV_R 1 12680
DA_R 1 13701
AV_R 11 10984
AA_R 1 78935
PM_R 2 50761372
FIN_JGMT 0 1